html,
body {
    width: 300px;
    margin: 0;
}

body {
    padding: 1rem;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

label,
input {
    display: block;
    box-sizing: border-box;
}

.form-group {
    margin-bottom: 1rem;
    width: 100%;
}

.inline {
    display: inline;
}

.auth-token-container {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}

#repostServerRedditUrl {
    width: 100%;
}

#authToken,
#togglePassword {
    flex: 1;
}

#togglePassword {
    flex-grow: 0;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    box-sizing: border-box;
}

#saveMessage {
    color: green;
    transition: opacity 0.3s;
    margin-left: 1rem;
}

.hidden {
    opacity: 0;
    height: 0;
    overflow: hidden;
}